extends layout

block content


  div.center.text-right.espacado
    h1 Lojinha do Leão
    p Os produtos devem ser retirados pessoalmente em São Paulo (Bela Vista).<br/>Itens verdadeiros, mas por enquanto essa é uma <strong>loja de teste</strong>!

  div#pixel.center
    - for (var i in products) {
      - var product = products[i]
      - var currency = ""
      - if (product.currency === "BRL")
        - currency = "R$"
      - else if (product.currency === "USD")
        - currency = "US$"

      div.product

        img.prod_picture(src=product.picture)
        h1#title= product.title
        h2#price= currency+" "+ product.price
        p!= product.description

        - if (!product.sold) {

          form(action="/"+i+"/create")
            //button(type='submit') Pague com PayPal
            input(type='image' src='https://www.paypal-brasil.com.br/logocenter/util/img/botao-checkout_horizontal_comprecom_ap.png' value='Compre com PayPal')
        - } else {

          h3 VENDIDO!

        - }
    - }

