extends layout

block content


  div.center.text-right
    h1 Lojinha do Leão
    p Os produtos devem ser retirados pessoalmente em São Paulo (Bela Vista).

  div#pixel.center
    - for (var i in products) {
      - var product = products[i]
      - var currency = ""
      - if (product.currency === "BRL")
        - currency = "R$"
      - else if (product.currency === "USD")
        - currency = "US$"

      img.prod_picture(src=product.picture)
      h1#title= product.title
      h2#price= currency+" "+ product.price
      p!= product.description

      form(action="/"+i+"/create")
        button(type='submit') Pague com PayPal
    - }




//    img.prod_picture(src="/images/gertec_tc504.png")
//    h1#title Coletor GERTEC TC504
//    h2#price R$ 2.000,00

//    form(action="/create")
//      input(type='hidden', name='method', value='paypal')
//      input(type='hidden', id='amount', name='amount', value='2000')
//      input(type='hidden', id='currency', name='currency', value='BRL')
//      input(type='hidden', id='description', name='description', value='COLETOR GERTEC TC504')
//      button(type='submit') Pague com PayPal


//    img.prod_picture(src="http://3.bp.blogspot.com/-3aRqyhNsfkU/USZgcEIX9II/AAAAAAAAAuw/U8ScLDBrMIs/s1000/two_arrows_2.jpg")
//    h1#title Chromebook Pixel
//    h2#price R$ 2.500,00
//    p Neste aparelho consta leve rachadura na parte inferior direita da tela. Não afeta o touch do restante da tela.

//    form(action="/create")
//      input(type='hidden', name='method', value='paypal')
//      input(type='hidden', id='amount', name='amount', value='2500')
//      input(type='hidden', id='currency', name='currency', value='BRL')
//      input(type='hidden', id='description', name='description', value='CHROMEBOOK PIXEL')
//      button(type='submit') Pague com PayPal






//  div#paypal
//    p Create a new PayPal Payment
//    form(action="/create")
//      input(type='hidden', name='method', value='paypal')
//      label(for='amount') Amount
//      input(type='text', id='amount', name='amount', required)
//      label(for='currency') Currency
//      input(type='text', id='currency', maxlength='3', placeholder='USD', name='currency', required)
//      label(for='description') Description
//      input(type='text', id='description', name='description', placeholder='Optional')
//      button(type='submit') Create Payment

//  div#creditcard
//    p Create a new Credit Card Payment
//    form(action="/create")
//        input(type='hidden', name='method', value='credit_card')
//        label(for='amount') Amount
//        input(type='text', id='amount', name='amount', required)
//        label(for='currency') Currency
//        input(type='text', id='currency', maxlength='3', placeholder='USD', name='currency', required)
//        label(for='description') Description
//        input(type='text', id='description', name='description', placeholder='Optional')
//        label(for='first_name') First Name
//        input(type='text', id='first_name', name='first_name', required)
//        label(for='last_name') Last Name
//        input(type='text', id='last_name', name='last_name', required)
//        label(for='number') Number
//        input(type='text', id='number', name='number', required)
//        label(for='type') Type
//        input(type='text', id='type', name='type', required)
//        label(for='expire_month') Expire Month
//        input(type='text', id='expire_month', name='expire_month', required)
//        label(for='expire_year') Expire Year
//        input(type='text', id='expire_year', name='expire_year', required)
//        label(for='cvv2') CVV
//        input(type='text', id='cvv2', name='cvv2', required)
//        button(type='submit') Create Payment

